@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  src: url('../assets/fonts/PretendardVariable.woff2') format('woff2');
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  * {
    @apply font-pretendard;
    box-sizing: border-box;
  }

  html {
    font-size: 62.5%;
  }

  body {
    color: var(--foreground);
    background: var(--background);
  }
}

@layer components {
  .btn {
    @apply bg-foreground text-background rounded-[1.2rem] cursor-pointer font-medium transition-all;
  }
  .btn-sm {
    @apply text-btn-sm;
    line-height: 2.34rem;
  }
  .btn-md {
    @apply text-btn-md;
    letter-spacing: -0.02em;
    line-height: 1.4rem;
  }
  .btn-lg {
    @apply text-btn-lg;
    line-height: 2.6rem;
  }
}
