@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  src: url('../assets/fonts/PretendardVariable.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Jalnan';
  font-style: normal;
  src: url('../assets/fonts/Jalnan2.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'NanumSquareOTF';
  font-style: normal;
  src: url('../assets/fonts/NanumSquareOTF_acR.otf') format('opentype');
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  * {
    @apply font-pretendard;
    box-sizing: border-box;
  }

  html {
    font-size: 62.5%;
  }

  /* 화면별 작업환경 */
  @media (max-width: 1440px) {
    html {
      font-size: 50%; /* QHD 이하일 때 */
    }
  }

  /* @media (max-width: 1280px) {
    html {
      font-size: 50%;
    }
  } */

  body {
    color: var(--foreground);
    background: var(--background);
  }
}

@layer components {
  .btn {
    @apply bg-foreground text-background rounded-[1.2rem] cursor-pointer font-medium transition-all;
  }
  .btn-sm {
    @apply text-btn-sm;
    line-height: 2.34rem;
  }
  .btn-md {
    @apply text-btn-md;
    letter-spacing: -0.02em;
    line-height: 1.4rem;
  }
  .btn-lg {
    @apply text-btn-lg;
    line-height: 2.6rem;
  }

  .chip {
    @apply bg-background text-background rounded-[0.8rem] cursor-pointer;
    padding: 0.7rem 1.6rem 0.7rem 3rem;
    line-height: 2.34rem;
    font-size: 1.8rem;
    user-select: none;
    width: 100%;
  }

  .chip-dropdown {
    @apply bg-background text-background rounded-[0.8rem] cursor-pointer;
    padding: 1.9rem 1.6rem 1.9rem 2.4rem;
    line-height: 2.6rem;
    font-size: 2rem;
    user-select: none;
    width: 100%;
  }

  .chip-open {
    @apply border border-var-primary-500 text-var-primary-500;
  }
  .chip-close {
    @apply border border-black border-opacity-30 text-opacity-50 text-black;
  }

  .tag {
    @apply bg-foreground text-white rounded-[4rem];
    padding: 1.05rem 2.4rem;
    box-sizing: border-box;
    line-height: 2.34rem;
    font-size: 1.8rem;
    user-select: none;
    width: fit-content;
  }
  .modal {
    @apply min-h-[80rem] max-w-7xl w-[59.6rem] h-[80rem] max-h-[80] bg-white p-[2.8rem] rounded-[1.8rem];
  }
  .modal-background {
    @apply fixed top-0 flex flex-col justify-center items-center w-screen h-full z-50 bg-neutral-900/70 transition-transform;
  }

  .dropdown {
    @apply relative w-full;
  }
  .dropdown ul {
    @apply w-full bg-background rounded-b-[1.2rem] overflow-auto max-h-[26.4rem];
  }
  .dropdown ul li {
    @apply cursor-pointer bg-background py-[2rem] px-[2.4rem] text-[2rem] leading-[2.6rem] font-normal;

    cursor: pointer;
  }
  .blur {
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
  }
}

@layer utilities {
  .swiper.swiper-initialized.swiper-horizontal {
    @apply relative max-w-[128rem] w-full rounded-[0.6rem];
  }
  .swiper-wrapper {
    @apply max-w-[128rem] mx-auto;
  }
  .swiper-slide {
    @apply max-w-[30.5rem];
  }
}
