@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  src: url('../assets/fonts/PretendardVariable.woff2') format('woff2');
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  * {
    @apply font-pretendard;
    box-sizing: border-box;
  }

  html {
    font-size: 62.5%;
  }

  body {
    color: var(--foreground);
    background: var(--background);
  }
}

@layer components {
  .btn {
    @apply bg-foreground text-background rounded-[1.2rem] cursor-pointer font-medium transition-all;
  }
  .btn-sm {
    @apply text-btn-sm;
    line-height: 2.34rem;
  }
  .btn-md {
    @apply text-btn-md;
    letter-spacing: -0.02em;
    line-height: 1.4rem;
  }
  .btn-lg {
    @apply text-btn-lg;
    line-height: 2.6rem;
  }

  .chip {
    @apply bg-background text-background rounded-[0.8rem] cursor-pointer;
    padding: 0.7rem 1.6rem 0.7rem 3rem;
    line-height: 2.34rem;
    font-size: 1.8rem;
    user-select: none;
    width: fit-content;
  }

  .chip-open {
    @apply border border-var-primary-500 text-var-primary-500;
  }
  .chip-close {
    @apply border border-black border-opacity-30 text-opacity-50 text-black;
  }

  .tag {
    @apply bg-foreground text-white rounded-[4rem];
    padding: 1.05rem 2.4rem;
    box-sizing: border-box;
    line-height: 2.34rem;
    font-size: 1.8rem;
    user-select: none;
    width: fit-content;
  }
  .modal {
    @apply overflow-y-auto max-w-7xl w-[59.6rem] bg-white p-[2.8rem] rounded-xl;
  }
  .modal-background {
    @apply fixed top-0 flex flex-col justify-center items-center w-screen h-full z-50 bg-neutral-900/70 transition-transform;
  }
}
